@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400;500;600;700&family=IBM+Plex+Sans:wght@100;200;300;500;600;700&display=swap');

/* General Use */
button {
    border: none;
    border-radius: 5px;
    width: 250px;
    padding: 12px 0;
    margin: 5px;
    color: #fff;
    font-size: 15px;
    background-color: skyblue;
}

input, h2 {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#body {
    align-items: center;
    padding: 20px 10%;
}

/* Board.js */
#writing {
    width: 80%;
    height: 100%;
}

#cboard {
    font-family: 'IBM Plex Sans KR', sans-serif;
}


#title {
    font-family: 'IBM Plex Sans KR', sans-serif;

}

#content {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* Git_main.js */
#search_input {
    width: 800px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    /* background: #fff;
    border: 1px solid #dadada;
    border-radius: 3px; */
    color: #212121;
    font-size: 14px;
}

#card_section {
    position: relative;
}


/* Work_day.js */
