@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400;500;600;700&family=IBM+Plex+Sans:wght@100;200;300;500;600;700&display=swap');

p, strong {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1em;
}

#title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 3.214em;
    line-height: 1.2;
}

#second_title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size:14px;
}

blockquote {
    padding: 10px 15px;
    margin: 0 0 20px;
    border-left: 5px solid #ccc;
    color: inherit;
    font-size: inherit;
}

.column-left {
    float: left;
    width: 47%;
   }
   
.column-right {
    float: right;
    width: 47%;
   }

.intro {
    overflow: hidden;
    padding: 3% 5% 3% 5%;
    text-decoration: none;
   }
   
#img_1_intro {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* sidebar_board.js */
/*
#side {
    display: flex;
    border-right: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}

#Profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#menu {
    margin-top: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
*/